[Unit]
Description=uWSGI instance to serve ctbot web
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/root/Eppyforce/
ExecStart=/usr/local/bin/uwsgi --ini ctbot-web.ini

[Install]
WantedBy=multi-user.target